@import url("./Alignment.css");
@import url("./Color.css");
@import url("./Typography.css");
@import url("./Chat.css");

html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;;
}

.w100 {
  width: 100%;
}

.w500 {
  width: 500px;
}

.image-size {
  max-width: 200px; /* 최대 너비 제한 */
  height: auto; /* 높이를 자동으로 조절하여 비율 유지 */
  margin-bottom: 50px; 
}

.center-image {
  display: flex;
  justify-content: center; /* 주 축을 기준으로 중앙 정렬 */
}