@import url("./Alignment.css");
@import url("./Color.css");
@import url("./Typography.css");

html,
body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

main {
  height: fit-content;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;;
}

.w100 {
  width: 100%;
}

.w500 {
  width: 500px;
}